{% extends 'NoticiaBundle:Page:layout.html.twig' %}

{% block title %}Alterar Not&iacute;cia{% endblock%}

{%  block body %}
    <h3>Not&iacute;cias \ Alterar</h3>

    {% include 'NoticiaBundle:Noticia:form.html.twig' with { 'form': form } %}
{% endblock %}

