{% extends 'NoticiaBundle:Page:layout.html.twig' %}

{% block title %}Cadastrar Not&iacute;cia{% endblock%}

{%  block body %}
    <h3>Not&iacute;cias \ Cadastrar</h3>

    <a class="btn btn-primary pull-left" href="{{ path('_noticia_index') }}">Voltar</a>
    </br></br>
    {% include 'NoticiaBundle:Noticia:form.html.twig' with { 'form': form } %}
{% endblock %}

