{% extends 'NoticiaBundle:Page:layout.html.twig' %}

{% block title %}Excluir Not&iacute;cia{% endblock%}

{%  block body %}
    <h3>Not&iacute;cias \ Excluir \ {{ noticia.titulo }}</h3>
    <p> Tem certeza que deseja excluir a noticia <strong>{{ noticia.titulo }}</strong>?</p>
    <form method="post" action="">
        <a href="{{ path('_area_restrita') }}">Voltar</a> <input type="submit" class="btn btn-primary" value="Sim">
    </form>
{% endblock %}
