{% extends 'NoticiaBundle:Page:layout.html.twig' %}

{% block body %}
{% endblock %}
{% block sidebar %}
    <div class="well" style="margin-right: -140px;">
        <h4>Menu</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="{{ path('_noticia_index') }}">Not&iacute;cias</a>
                    </li>
                    <li><a href="{{ path('_categoria_index') }}">Categoria</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}