{% extends 'NoticiaBundle:Page:layout.html.twig' %}

{% block title %}Sobre{% endblock%}

{% block body %}
    <header>
        <h1>Sobre:</h1>
    </header>
    <article>
        <p> P&aacute;gina criada como parte do processo seletivo de admiss&atilde;o para o cargo de anal&iacute;sta j&uacute;nior de sistemas
        no Unimed Volta Redonda.</p>
    </article>
{% endblock %}