{% extends 'NoticiaBundle:Page:layout.html.twig' %}

{% block title %}Alterar Categoria{% endblock%}

{%  block body %}
    <h3>Categoria \ Alterar</h3>

    {% include 'NoticiaBundle:Categoria:form.html.twig' with { 'form': form } %}
{% endblock %}

