{% extends 'NoticiaBundle:Page:layout.html.twig' %}

{% block title %}Alterar Categoria{% endblock%}

{%  block body %}
    <h3>Categoria \ Alterar</h3>

    <a class="btn btn-primary pull-left" href="{{ path('_categoria_index') }}">Voltar</a>
    </br></br>
    {% include 'NoticiaBundle:Categoria:form.html.twig' with { 'form': form } %}
{% endblock %}

